body {
  margin-top: 70px;
  margin-bottom: 50px;
}

.badge {
  background-color: orange;
}

.container{
  width:auto;
  max-width:900px;
  padding:0 15px;
}

.container .footer-text{
  margin:20px 0px;
}
